p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:blueviolet;
    background-color: rgb(154, 162, 176);
    display:inline-block;
}
.modText3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:chartreuse;
}
#Namee{
    font-family: cursive;
    color:burlywood;
}
#Namee{
    font-family:fantasy;
    color:burlywood;
}
