h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Image-Container{
    height:10rem;
    width:20rem;
    background-image: url(/HTMLBasics/images/Five-tips-for-front-end-web-development.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
main{
    width:50%;
    display: inline-block;
}
aside{
    display: inline-block;
    width:15%;
    vertical-align: top ;
}
.widget{
    border-top: 4px solid black ;
}
.widget input{
    display:block;
    background-color: #f7f7f7;
    margin-bottom: 15px;
    padding:4px;
    font-size: 1.2rem;
}
#subButton{
    font-size: 1.2rem;
    background-color: black;
    color:white;
    padding:10px;
}
#leftAside{
    display:inline-block;
    width:15%;
}


