.MainBox{
    height:530px;
    width:530px;
    background-color: beige;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    display:flex;
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-direction:row-reverse;*/
    flex-direction: column;
    margin: auto;
}
.MainBox div{
    margin: auto;
    border-radius: 50%;
    border: 3px solid lightgray;
    box-sizing: border-box;
}
#ball1 {
    height: 30px;
    width: 30px;
    background-color: #ff9bc9;
    order: 0;
}

#ball2 {
    height: 40px;
    width: 40px;
    background-color: #df8eff;
    order:5;
}

#ball3 {
    height: 50px;
    width: 50px;
    background-color: #91dcff;
    order:3;
}

#ball4 {
    height: 60px;
    width: 60px;
    background-color: #93ff99;
    order:2;
}

#ball5 {
    height: 70px;
    width: 70px;
    background-color: #dfff89;
    order:4;
}

#ball6 {
    height: 80px;
    width: 80px;
    background-color: #ffdf8e;
    order:1;
}
